Repository decentraland/blog-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npmPkgJsonLint .

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx,json,md,mdx,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "package.json": ["npmPkgJsonLint ."]
}

style: category hero width
  src/components/Blog/CategoryHero/CategoryHero.styled.ts
Due: prettier --write, eslint --fix

style: category hero width (#85)
  src/components/Blog/CategoryHero/CategoryHero.styled.ts
Due: prettier --write, eslint --fix

feat: remove service worker
  README.md
  public/service-worker.js
  src/main.tsx
Due: prettier --write, eslint --fix

feat: remove service worker (#86)
  README.md
  public/service-worker.js
  src/main.tsx
Due: prettier --write, eslint --fix

feat: add tracking
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/main.tsx
Due: prettier --write, eslint --fix

feat: add tracking (#87)
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/main.tsx
Due: prettier --write, eslint --fix

chore: add ContentSquare script
  index.html
Due: none

chore: add ContentSquare script (#92)
  index.html
Due: none

fix: prevent duplicate /blog basename in auth redirect URL
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

fix: prevent duplicate /blog basename in auth redirect URL (#94)
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

feat: improve blog loading performance with parallel prefetching, cache persistence, and WebP images
  src/app/store.ts
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/services/client.ts
Due: prettier --write, eslint --fix

refactor: reduce redundant blog prefetching and persistence overlap
  src/app/store.ts
  src/features/blog/blog.client.ts
Due: prettier --write, eslint --fix

fix: use server-side filtering for blog posts and remove client-side workarounds
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
  src/features/blog/blog.client.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/useInfiniteBlogPosts.ts
Due: prettier --write, eslint --fix

Update blog meta tags from marketing
  api/seo.ts
  index.html
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

Update blog meta tags from marketing (#100)
  api/seo.ts
  index.html
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

chore: remove ContentSquare tracking script from index.html
  index.html
Due: none

chore: remove ContentSquare tracking script from index.html (#101)
  index.html
Due: none

feat: user env vars
  src/components/Blog/RichText/RichText.renderers.tsx
Due: prettier --write, eslint --fix

fix: use server-side filtering for blog posts and remove client-side workaraunds (#98)
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
  src/features/blog/blog.client.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/useInfiniteBlogPosts.ts
Due: prettier --write, eslint --fix

fix: use slug instead of id for category and author CMS filtering, and move hardcoded blog URL to config
  src/pages/AuthorPage.tsx
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

fix: use slug instead of id for category and author CMS filtering, and move hardcoded blog URL to config (#102)
  src/pages/AuthorPage.tsx
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

refactor: simplify slug extraction logic by removing slug field usage and prioritizing entry ID in blog helpers and mappers
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.types.ts
Due: prettier --write, eslint --fix

refactor: update blog client and helpers to enforce slug field requirements and streamline slug extraction logic
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.types.ts
Due: prettier --write, eslint --fix

refactor: streamline slug retrieval logic in blog helpers by removing unnecessary fallback for undefined values
  src/features/blog/blog.helpers.ts
Due: prettier --write, eslint --fix

refactor: simplify slug extraction logic by removing slug field usage and prioritizing entry ID in blog helpers and mappers (#103)
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.types.ts
Due: prettier --write, eslint --fix

docs: add ai-agent-context
  docs/ai-agent-context.md
Due: prettier --write

feat: add thirdweb email+OTP connector
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/web3/web3.config.ts
  src/hooks/useAuthIdentity.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add thirdweb email+OTP connector (#110)
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/web3/web3.config.ts
  src/hooks/useAuthIdentity.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

chore: upgrade decentraland-ui2 to ^2.5.2 and fix direct @mui/material import
  package-lock.json
  package.json
  src/pages/AuthorPage.styled.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add Module Federation setup for embedding in landing-site shell
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/StandaloneContext.tsx
  src/remote-entry.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

refactor: extract federation shared patch plugin and improve docs
  federation-shared-patch.ts
  src/components/PageLayout/StandaloneContext.tsx
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix

feat: add Module Federation for landing-site embedding (#112)
  federation-shared-patch.ts
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/StandaloneContext.tsx
  src/pages/AuthorPage.styled.ts
  src/remote-entry.tsx
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

docs: readme update
  README.md
Due: prettier --write

docs: readme update (#114)
  README.md
Due: prettier --write

chore: support instagram links
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
Due: prettier --write, eslint --fix

fix: minor fixes
  src/components/Blog/RichText/RichText.renderers.tsx
Due: prettier --write, eslint --fix

feat: support reels from ig (#116)
  docs/ai-agent-context.md
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
Due: prettier --write, eslint --fix

fix: add top padding to content wrapper for navbar clearance
  src/components/PageLayout/PageLayout.styled.ts
Due: prettier --write, eslint --fix

fix: apply 96px top padding only when embedded
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix
