Repository decentraland/blog-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npmPkgJsonLint .

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx,json,md,mdx,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "package.json": ["npmPkgJsonLint ."]
}

feat: enable navbar notifications
  package-lock.json
  package.json
  src/components/Blog/PostCard/PostCard.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/notifications/index.ts
  src/features/notifications/usePageNotifications.tsx
  src/hooks/useAuthIdentity.ts
  src/pages/PostPage.styled.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

chore: bump @dcl/hooks
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

feat: enable navbar notifications (#65)
  package-lock.json
  package.json
  src/components/Blog/PostCard/PostCard.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/notifications/index.ts
  src/features/notifications/usePageNotifications.tsx
  src/hooks/useAuthIdentity.ts
  src/pages/PostPage.styled.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

chore: prettier format automatic
  src/features/notifications/usePageNotifications.tsx
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

feat: add auth path rewrite
  vercel.json
Due: prettier --write

feat: add auth path rewrite (#67)
  vercel.json
Due: prettier --write

chore: prettier format automatic (#66)
  src/features/notifications/usePageNotifications.tsx
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

fix: sign in in vercel
  src/components/PageLayout/PageLayout.tsx
  src/pages/SignInRedirect.tsx
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

fix: flow
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

fix: sign in in vercel (#68)
  src/components/PageLayout/PageLayout.tsx
  src/pages/SignInRedirect.tsx
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

chore: update decentraland-ui2 to 1.3.4
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

chore: bump decentraland-ui2 v1.3.6
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

chore: remove deprecated lines from husky pre-commit
  .husky/pre-commit
Due: none

chore: update actions to use install instead of clean install
  .github/workflows/audit.yml
  .github/workflows/build.yaml
  .github/workflows/test.yml
Due: none

chore: bump decentraland-ui2 v1.3.6 (#72)
  .github/workflows/audit.yml
  .github/workflows/build.yaml
  .github/workflows/test.yml
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

feat: add share buttons for X and Facebook on post page
  src/intl/en.json
  src/pages/PostPage.styled.ts
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

chore: remove unused App.tsx template
  src/App.tsx
Due: prettier --write, eslint --fix

feat: add share buttons for X and Facebook on post page (#73)
  src/App.tsx
  src/intl/en.json
  src/pages/PostPage.styled.ts
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

fix: active category highlight in blog navigation
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
Due: prettier --write, eslint --fix

feat: mode plain text to translations
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
  src/components/Blog/RelatedPost/RelatedPost.tsx
  src/components/Blog/Search/Search.tsx
  src/components/SEO/SEO.tsx
  src/intl/en.json
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/PreviewPage.tsx
  src/pages/SearchPage.tsx
Due: prettier --write, eslint --fix

fix: active category highlight in blog navigation (#74)
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
Due: prettier --write, eslint --fix

feat: mode plain text to translations (#75)
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
  src/components/Blog/RelatedPost/RelatedPost.tsx
  src/components/Blog/Search/Search.tsx
  src/components/SEO/SEO.tsx
  src/intl/en.json
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/PreviewPage.tsx
  src/pages/SearchPage.tsx
Due: prettier --write, eslint --fix

feat: improve category page layout and navigation styles
  src/components/Blog/BlogNavigation/BlogNavigation.styled.ts
  src/components/Blog/CategoryHero/CategoryHero.styled.ts
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

style: category title font size
  src/components/Blog/CategoryHero/CategoryHero.styled.ts
  src/components/Blog/CategoryHero/CategoryHero.tsx
Due: prettier --write, eslint --fix

feat: improve category page layout and navigation styles (#76)
  src/components/Blog/BlogNavigation/BlogNavigation.styled.ts
  src/components/Blog/CategoryHero/CategoryHero.styled.ts
  src/components/Blog/CategoryHero/CategoryHero.tsx
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

feat: add build and release CI
  .github/workflows/build-release.yaml
Due: none

feat: add build and release CI (#77)
  .github/workflows/build-release.yaml
Due: none

refactor: rename fullWidthContent const by banner
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write

refactor: rename fullWidthContent const by banner (#78)
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/CategoryPage.tsx
Due: prettier --write, eslint --fix

feat: follow template
  README.md
Due: prettier --write

fix: fix build and release CI
  .github/workflows/build-release.yaml
Due: none

fix: fix build and release CI (#80)
  .github/workflows/build-release.yaml
Due: none

fix: repository URL to match GitHub repo for npm provenance verification
  package.json
  public/package.json
Due: prettier --write, npmPkgJsonLint .

fix: repository URL to match GitHub repo for npm provenance verification (#81)
  package.json
  public/package.json
Due: prettier --write, npmPkgJsonLint .

docs: update readme (#79)
  README.md
Due: prettier --write

fix: fix rollout CI
  .github/workflows/set-rollout.yml
Due: none

fix: fix rollout CI (#82)
  .github/workflows/set-rollout.yml
Due: none

feat: move related posts outside content area and update layout
  src/components/Blog/RelatedPost/RelatedPost.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

feat: move related posts outside content area and update layout (#83)
  src/components/Blog/RelatedPost/RelatedPost.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/PageLayout.types.ts
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix
