Repository decentraland/blog-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npmPkgJsonLint .

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx,json,md,mdx,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "package.json": ["npmPkgJsonLint ."]
}

fix: add top padding to content wrapper for navbar clearance (#117)
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

fix: move embedded top offset to BlogNavigation margin
  src/components/Blog/BlogNavigation/BlogNavigation.styled.ts
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
  src/components/Blog/BlogNavigation/BlogNavigation.types.ts
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

fix: extract navbar height magic numbers into named constants
  src/components/Blog/BlogNavigation/BlogNavigation.styled.ts
  src/components/PageLayout/PageLayout.styled.ts
Due: prettier --write, eslint --fix

fix: move embedded top offset to BlogNavigation margin (#118)
  src/components/Blog/BlogNavigation/BlogNavigation.styled.ts
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
  src/components/Blog/BlogNavigation/BlogNavigation.types.ts
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

chore: upgrade @dcl/core-web3, @dcl/schemas, @dcl/hooks, decentraland-ui2
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/web3/web3.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

refactor: optimize LCP, CLS, and bundle size for Lighthouse score improvement
  api/seo.ts
  index.html
  src/components/Blog/MainPostCard/MainPostCard.styled.ts
  src/components/Blog/MainPostCard/MainPostCard.tsx
  src/components/Blog/PostCard/PostCard.styled.ts
  src/components/Blog/PostCard/PostCard.tsx
  src/pages/PostPage.styled.ts
  src/pages/PostPage.tsx
  src/routes.tsx
  src/shared/utils/contentfulImage.ts
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: upgrade @dcl/core-web3, @dcl/schemas, @dcl/hooks, decentraland-ui2 (#122)
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/web3/web3.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

perf: serve SSR-enriched HTML to all visitors for LCP improvement
  api/seo.ts
  vercel.json
Due: prettier --write, eslint --fix

perf: convert card images to <img>, add preconnect hints, lazy-load secondary routes, split chunks
  docs/ai-agent-context.md
  index.html
  src/components/Blog/MainPostCard/MainPostCard.styled.ts
  src/components/Blog/MainPostCard/MainPostCard.tsx
  src/components/Blog/PostCard/PostCard.styled.ts
  src/components/Blog/PostCard/PostCard.tsx
  src/routes.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

fix: remove web3 manualChunks conflicting with federation shared modules
  vite.config.ts
Due: prettier --write, eslint --fix

perf: inject hero <img> into SSR HTML body and make fonts non-render-blocking
  api/seo.ts
  index.html
Due: prettier --write, eslint --fix

fix: sync federation shared versions, bump deps, add CI validation
  .github/workflows/validate-federation.yml
  package-lock.json
  package.json
  scripts/validate-federation.cjs
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: use exact versions for @reduxjs/toolkit and react-router-dom
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

fix: regenerate lockfile with npm 10 for CI compat
  package-lock.json
Due: prettier --write

fix: use useWalletState from core-web3/lazy for federated auth compat
  src/components/PageLayout/PageLayout.tsx
  src/hooks/useAuthIdentity.ts
  src/main.tsx
Due: prettier --write, eslint --fix

fix: check identity expiration and poll for SSO writes in useAuthIdentity
  src/hooks/useAuthIdentity.ts
Due: prettier --write, eslint --fix

fix: sync federation shared versions, bump deps, add CI validation (#128)
  .github/workflows/validate-federation.yml
  package-lock.json
  package.json
  scripts/validate-federation.cjs
  src/components/PageLayout/PageLayout.tsx
  src/hooks/useAuthIdentity.ts
  src/main.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: share @dcl/core-web3/lazy as federation singleton for auth context
  vite.config.ts
Due: prettier --write, eslint --fix

fix: bump @dcl/core-web3 to 0.11.2 for federation lazy subpath compat
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

perf: lazy-load routes/embeds, defer preloads, optimize images for LCP/CLS
  api/seo.ts
  index.html
  package-lock.json
  package.json
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
  src/components/Blog/SearchResultCard/SearchResultCard.tsx
  src/hooks/index.ts
  src/hooks/useAuthIdentity.ts
  src/hooks/useImageWithLoading.ts
  src/main.tsx
  src/pages/PostPage.tsx
  src/routes.tsx
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: add @dcl/core-web3 shared singletons for federation auth compat (#129)
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: escape SSR output, allowlist origin, read shell from disk, slug-filter CMS
  api/seo.ts
  src/routes.tsx
Due: prettier --write, eslint --fix

fix: prevent redirect loop, sanitize path query strings, filter entries by slug
  api/seo.ts
Due: prettier --write, eslint --fix

refactor: serve SSR HTML to all visitors for LCP improvement (#127)
  api/seo.ts
  docs/ai-agent-context.md
  index.html
  package-lock.json
  package.json
  src/components/Blog/MainPostCard/MainPostCard.styled.ts
  src/components/Blog/MainPostCard/MainPostCard.tsx
  src/components/Blog/PostCard/PostCard.styled.ts
  src/components/Blog/PostCard/PostCard.tsx
  src/components/Blog/RichText/RichText.renderers.tsx
  src/components/Blog/RichText/RichText.styled.ts
  src/components/Blog/SearchResultCard/SearchResultCard.tsx
  src/hooks/index.ts
  src/hooks/useAuthIdentity.ts
  src/hooks/useImageWithLoading.ts
  src/main.tsx
  src/pages/PostPage.tsx
  src/routes.tsx
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

refactor: point CMS to cms-api.decentraland.org and drop redux-persist
  api/seo.ts
  docs/ai-agent-context.md
  index.html
  package-lock.json
  package.json
  src/app/store.ts
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/main.tsx
  src/remote-entry.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .
