Repository decentraland/blog-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npmPkgJsonLint .

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx,json,md,mdx,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "package.json": ["npmPkgJsonLint ."]
}

feat: add redux-persist and normalize posts with entityAdapter
  package-lock.json
  package.json
  src/app/store.ts
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.selectors.ts
  src/features/blog/blog.slice.ts
  src/features/search/search.client.ts
  src/main.tsx
  src/pages/PostPage.tsx
  src/services/client.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: remove wrong import
  src/app/store.ts
Due: prettier --write, eslint --fix

feat: add category page with infinite scroll and caching optimizations (#33)
  package-lock.json
  package.json
  src/app/store.ts
  src/components/Blog/BlogNavigation/BlogNavigation.tsx
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.selectors.ts
  src/features/blog/blog.slice.ts
  src/features/blog/useInfiniteBlogPosts.ts
  src/features/search/search.client.ts
  src/main.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.styled.ts
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/routes.tsx
  src/services/client.ts
  src/shared/types/blog.domain.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add authors page
  src/components/Blog/PostList/PostList.styled.ts
  src/components/Blog/PostList/PostList.tsx
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/features/blog/blog.client.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.types.ts
  src/pages/AuthorPage.styled.ts
  src/pages/AuthorPage.tsx
  src/pages/PostPage.tsx
  src/routes.tsx
  src/shared/types/blog.domain.ts
  src/shared/utils/locations.ts
Due: prettier --write, eslint --fix

feat: created getEntrySlug helper
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.types.ts
Due: prettier --write, eslint --fix

feat: add authors page (#34)
  src/components/Blog/PostList/PostList.styled.ts
  src/components/Blog/PostList/PostList.tsx
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/features/blog/blog.client.ts
  src/features/blog/blog.helpers.ts
  src/features/blog/blog.mappers.ts
  src/features/blog/blog.types.ts
  src/pages/AuthorPage.styled.ts
  src/pages/AuthorPage.tsx
  src/pages/PostPage.tsx
  src/routes.tsx
  src/shared/types/blog.domain.ts
  src/shared/utils/locations.ts
Due: prettier --write, eslint --fix

feat: add search page
  src/components/Blog/SearchResultCard/SearchResultCard.styled.ts
  src/components/Blog/SearchResultCard/SearchResultCard.tsx
  src/components/Blog/SearchResultCard/SearchResultCard.types.ts
  src/components/Blog/SearchResultCard/index.ts
  src/features/blog/blog.helpers.ts
  src/features/search/search.client.ts
  src/features/search/search.types.ts
  src/pages/SearchPage.styled.ts
  src/pages/SearchPage.tsx
  src/routes.tsx
Due: prettier --write, eslint --fix

feat: implement dynamic SEO for blog pages with Vercel Edge Middleware
  index.html
  middleware.ts
  package-lock.json
  package.json
  src/hooks/index.ts
  src/hooks/useSEO/index.ts
  src/hooks/useSEO/useSEO.tsx
  src/hooks/useSEO/useSEO.types.ts
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/SearchPage.tsx
  vercel.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: replace Vercel middleware with Edge Function for SEO
  api/seo/[...path].ts
  package-lock.json
  package.json
  vercel.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: update image
  index.html
Due: none

fix: use serverless function instead of edge function for Vite compatibility
  api/seo.ts
  api/seo/[...path].ts
  package-lock.json
  package.json
  vercel.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: added opengraph crowler
  api/seo.ts
  vercel.json
Due: prettier --write, eslint --fix

feat: add comprehensive crawler user-agent detection
  api/seo.ts
  vercel.json
Due: prettier --write, eslint --fix

refactor: seo
  api/seo.ts
Due: prettier --write, eslint --fix

feat: pr related
  src/components/SEO/SEO.tsx
  src/components/SEO/SEO.types.ts
  src/components/SEO/index.ts
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/hooks/index.ts
  src/hooks/useSEO/index.ts
  src/hooks/useSEO/useSEO.types.ts
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/SearchPage.tsx
Due: prettier --write, eslint --fix

feat: seo-with-vercel (#36)
  api/seo.ts
  index.html
  package-lock.json
  package.json
  src/components/SEO/SEO.tsx
  src/components/SEO/SEO.types.ts
  src/components/SEO/index.ts
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/hooks/index.ts
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/SearchPage.tsx
  vercel.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add search page (#35)
  api/seo.ts
  index.html
  package-lock.json
  package.json
  src/components/Blog/SearchResultCard/SearchResultCard.styled.ts
  src/components/Blog/SearchResultCard/SearchResultCard.tsx
  src/components/Blog/SearchResultCard/SearchResultCard.types.ts
  src/components/Blog/SearchResultCard/index.ts
  src/components/SEO/SEO.tsx
  src/components/SEO/SEO.types.ts
  src/components/SEO/index.ts
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/blog/blog.helpers.ts
  src/features/search/search.client.ts
  src/features/search/search.types.ts
  src/hooks/index.ts
  src/pages/AuthorPage.tsx
  src/pages/BlogPage.tsx
  src/pages/CategoryPage.tsx
  src/pages/PostPage.tsx
  src/pages/SearchPage.styled.ts
  src/pages/SearchPage.tsx
  src/routes.tsx
  vercel.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: some ignores
  src/app/store.ts
  src/components/PageLayout/PageLayout.styled.ts
  src/main.tsx
  src/pages/AuthorPage.styled.ts
  src/pages/BlogPage.styled.ts
  src/pages/CategoryPage.styled.ts
  src/pages/PreviewPage.styled.ts
Due: prettier --write, eslint --fix

fix: typo
  src/pages/AuthorPage.tsx
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

feat: integrate @dcl/core-web3 for wallet connectivity
  .github/workflows/lint-package-json.yml
  .github/workflows/lint-pkg.yml
  package-lock.json
  package.json
  src/app/store.ts
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/profile/profile.client.ts
  src/features/web3/web3.config.ts
  src/main.tsx
  src/pages/SignInRedirect.tsx
  src/routes.tsx
  src/utils/authRedirect.ts
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

fix: use full auth URL in dev config for Vercel preview deploys
  src/config/env/dev.json
Due: prettier --write

fix: resolve auth URL based on host - localhost uses proxy, preview uses staging
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

fix: use relative auth URL in dev for local proxy support
  src/config/env/dev.json
Due: prettier --write

chore: open dependabot to everything
  .github/dependabot.yml
Due: none

chore: update deps
  package-lock.json
  package.json
Due: prettier --write, npmPkgJsonLint .

feat: add magic key
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
Due: prettier --write

feat: use clearWagmiState from @dcl/core-web3
  src/utils/authRedirect.ts
Due: prettier --write, eslint --fix

chore: update eslint-config v3
  .npmpackagejsonlintrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.styled.ts
  src/pages/AuthorPage.styled.ts
  src/pages/BlogPage.styled.ts
  src/pages/CategoryPage.styled.ts
  src/pages/PreviewPage.styled.ts
  tsconfig.eslint.json
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: use cjs in eslint config file
  eslint.config.cjs
  eslint.config.js
Due: prettier --write, eslint --fix

feat: integrate @dcl/core-web3 for wallet connectivity (#38)
  .github/dependabot.yml
  .github/workflows/lint-package-json.yml
  .github/workflows/lint-pkg.yml
  .npmpackagejsonlintrc.json
  eslint.config.cjs
  package-lock.json
  package.json
  src/app/store.ts
  src/components/PageLayout/PageLayout.styled.ts
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
  src/features/profile/profile.client.ts
  src/features/web3/web3.config.ts
  src/main.tsx
  src/pages/AuthorPage.styled.ts
  src/pages/BlogPage.styled.ts
  src/pages/CategoryPage.styled.ts
  src/pages/PreviewPage.styled.ts
  src/pages/SignInRedirect.tsx
  src/routes.tsx
  src/utils/authRedirect.ts
  tsconfig.eslint.json
  vite.config.ts
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add mana balance
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
Due: prettier --write, eslint --fix

feat: add translations
  package-lock.json
  package.json
  src/intl/en.json
  src/main.tsx
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: add RelatedPost component
  src/components/Blog/RelatedPost/RelatedPost.styled.ts
  src/components/Blog/RelatedPost/RelatedPost.tsx
  src/components/Blog/RelatedPost/RelatedPost.types.ts
  src/components/Blog/RelatedPost/index.ts
  src/main.tsx
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

feat: add RelatedPost component (#62)
  src/components/Blog/RelatedPost/RelatedPost.styled.ts
  src/components/Blog/RelatedPost/RelatedPost.tsx
  src/components/Blog/RelatedPost/RelatedPost.types.ts
  src/components/Blog/RelatedPost/index.ts
  src/main.tsx
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix

feat: add translations (#61)
  package-lock.json
  package.json
  src/components/Blog/RelatedPost/RelatedPost.styled.ts
  src/components/Blog/RelatedPost/RelatedPost.tsx
  src/components/Blog/RelatedPost/RelatedPost.types.ts
  src/components/Blog/RelatedPost/index.ts
  src/intl/en.json
  src/main.tsx
  src/pages/PostPage.tsx
Due: prettier --write, eslint --fix, npmPkgJsonLint .

feat: change contract address
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/stg.json
Due: prettier --write, eslint --fix

feat: change CI title
  .github/workflows/validate-pr-title.yml
Due: none

feat: add mana balance (#60)
  .github/workflows/validate-pr-title.yml
  src/components/PageLayout/PageLayout.tsx
  src/config/env/dev.json
  src/config/env/prd.json
  src/config/env/stg.json
Due: prettier --write, eslint --fix
